<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="card">
      <header class="card-header">
        <h2 class="award-name">On the Spot award</h2>
        <span class="award-year">2018</span>
      </header>
      <div class="award-desc">
        For being an inspiring role model to colleagues and outstanding
        contribution to the organization.
      </div>
      <div style="text-align: center">
        <a href="#" class="btn">View</a>
      </div>
    </div>
  </body>
</html>
