<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="grid">
      <div class="grid_box1">
        <div class="welcome-title">
          <div>Hi,</div>
          <div>I am Tony Thomas</div>
          <div>Full stack developer</div>
        </div>
        <p class="welcome-desc">
          Software developer specialized and skilled in java and python-based
          web applications with close to 5 years of experience. Possess good
          leadership skills, communication skills, and teamwork. Comprehensive
          knowledge in java, python, various java frameworks, Linux systems,
          server deployment, migration, and monitoring. Proficient in using
          Linux systems.
        </p>
        <div class="contact-icons-box">
          <i class="fab fa-github fa-2x contact-icon"></i>
          <i class="fab fa-linkedin fa-2x contact-icon"></i>
          <i class="fas fa-envelope-square fa-2x contact-icon"></i>
        </div>
      </div>
      <div class="grid_box2">
        <div class="image--box">
          <img class="profile-image" src="../images/portSnip.jpg" alt="" />
        </div>
        <div style="color: white; text-align: center">
          <span>Master of IT Student</span>
          <br />
          <span>Monash University</span>
        </div>
      </div>
    </div>
  </body>
</html>
